<!DOCTYPE html>
<html>
	{{> header}}
    <div class="mainDiv" style="font-family: Raleway, sans-serif;text-align:center;margin: 10px auto;width: 95%;max-width: 700px;font-size: 18px;background-color:#f8f8f8;padding: 5% 5%; border:2px #f0efef solid;">
      <img style="margin:auto;display: block;margin-bottom:30px;" src="https://www.mindfruits.biz/wp-content/uploads/2017/06/mindfruits.png">
      {{content}}
      <hr>
      <p style="text-align:center;">Votre fidèle serviteur,<br>Google Apps Script</p>
    </div>
	</body>
	<style type="text/css">
		html {
			scroll-behavior: smooth;
		}
	</style>
</html>
